@font-face {
    font-family: 'Abundant';
    src: url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.eot') format('eot'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.woff') format('woff'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.ttf') format('truetype'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.otf') format('otf');

     font-family: 'Athum';
    src: url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.eot') format('eot'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.woff') format('woff'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.ttf') format('truetype'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.otf') format('otf');    
}

a:hover
{
    color: darkgoldenrod;
}

a
{
    color: #985F2B;
    font-weight: bold;
}

#logoname
{
    display: flex;
    justify-content: center;
}

#menu
{
    background: url("/Users/Utilitaires/Desktop/MIMproject/images/marbre.jpg");
    display: flex;
    justify-content: space-between;
}

h1
{
	font-family: 'Athum';
	color: darkkhaki;
	flex
}