@font-face {
    font-family: 'Abundant';
    src: url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.eot') format('eot'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.woff') format('woff'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.ttf') format('truetype'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Abundant.otf') format('otf');

     font-family: 'Athum';
    src: url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.eot') format('eot'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.woff') format('woff'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.ttf') format('truetype'),
         url('/Users/Utilitaires/Desktop/MIMproject/police/Athum.otf') format('otf');    
}

#tete
{
	display: flex;
	flex-direction: row;
	f
}

.element1:nth-child(1)
{
	flex: 1;
}

.element2:nth-child(2)
{
	flex: 2;
}

h1
{
	font-family: 'Athum';
	color: darkkhaki;
	flex
}